header, main, footer {
  display: block;
  position: relative;
  float: none;
  width: 100%;
}
.evoke-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.mark {
	color: $primary-color;
}
.sub-txt {
	font-style: italic;
}