// About page


// Contacts
#txt-contacts {
	text-align: center;
	font-weight: bold;
	padding-bottom: 2rem;
}
.txt-contacts-boxes {
	padding-bottom: 1rem;
	h4 {
		margin: 0px;
		padding: 0px;
		line-height: 1;
	}
	p {
		margin: 0px;
		padding: 0px;
		font-size: 1.5rem;
	}
	a {
		display: block;
		width: 100%;
		margin: 0px;
		padding: 0px;
		font-size: 1.4rem;
	}
}