// Title description
#index-title-description {
  h2 {
    margin: 0px;
    line-height: 1;
    font-size: 2rem;
    font-weight: 900;
  }
}

// Short description
.short-title-description {
  // position: absolute;
  // margin-top: 10vh;
  padding-bottom: 2rem;
  // bottom: 0rem;
}
.short-description {
  p {
    margin: 0px;
    padding: 0px;
  }
}
.short-description-pad {
  padding-top: 2rem;
}

// Services sections
.services-index-sections {
  margin-bottom: 2rem;
}
#services-index-box {
  padding: 3rem 0px;
  .services-index-text {
    position: relative;
    float: none;
    width: 80%;
    margin: auto;
    a {
      color: $primary-color;
      font-weight: 700;
    }
  }
}

#index-title-description-container {
  position: absolute;
  float: none;
  width: 100%;
  bottom: 0px;
  clear: both;
}

// Moda video reveal
#index-reviel-video {
  background: $black;
  iframe {
    display: block;
    position: relative;
    float: none;
    width: 90vw;
    height: 90vh;
    margin: auto;
  }
  .close-button {
    color: $white;
  }
}

.index-alt-video-pic {
  position: absolute;
  width: 100%;
  height: 80vh;
  background: url("images/pexels-photo-257904.jpeg");
  background-position: center;
  background-size: cover;
}